body{
    margin: 0;
    background-color: #201b2c ;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    color: #77ffc0;
}
.rigth-login{
    display: flex;
     justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
}