body{
    padding: 0;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: rgb(71, 0, 138);
}

.interface{
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.interface h1{
    font-size: 60px;  
}

.interface h1 span{
    color: white;
}

.interface h3{
    font-size: 25px;
    padding: 20px;
}

.interface h3 span{
    color: white;
}

.login{
    text-align: center;
    width: 600px;
    height: 600px;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: blueviolet;
}

.login input{
    text-align: center;
    padding: 15px 130px;
    border: 0;
    border-radius: 10px;
    margin: auto;
    margin-top: 12px;/*Tag que tem uma função parecida com o margin e padding*/
    outline: 0;/*Tag para tira bordas dos input*/
}

.login input[type=submit]{
    background-color: #47008a;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.login input[type=submit]:hover{
    background-color: #47008a;
    transform: scale(1.05);
}

.login h4{
    color: #47008a;
    font-size: 30px;
}
.backparte i{
    padding: 10px 10px;
    font-size: 25px;
}
.backparte a{
    cursor: pointer;
}

.links a{
    text-decoration: none;
}
.links h6{
    font-size: 18px;
}

.rodape a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px; 
    margin: 12px;
    color: rgba(255, 255, 255, 0.267);
    font-size: 15px;
}

.rodape a:hover{
    color: #fff;
    transform: scale(1.05);
}

.redes a{
   font-size: 25px;
   color: #47008a;
   padding: 30px;
   margin: auto;
}

