*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #77ffc0;
    background-color: black;
    padding: 40px;
}
.dash-dev{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.LadoA{
    width: 270px;
    background-color: #353535a4;
    min-height: 50vh;
    padding: 20px;
    border-radius: 10px;
}
.LadoA h2{
    font-size: 25px;
    padding: 10px;
}
.LadoA span{
    color: #fff;
}
.LadoA li{
    padding: 25px;
    color: #ffffffcb;
    cursor: pointer;
}
li:hover{
   color: #77ffc0;
   transform: scale(1.05);
}
.LadoA i{
    color: #77ffc0;
}
.LadoB{
    text-align: center;
    width: 100%;
}
.LadoB h1{
    font-size: 40px;
    padding: 10px;
}    
.LadoB span{
    color: #fff;
} 
.LadoB img{
   width: 500px;
   height: 500px; 
}
.LadoB p{
    border-bottom: 2px solid #77ffc0;
    padding: 10px;
}
.icones{
    display: flex;
    padding: 50px;
}
.discord h6{
    color: #fff;
    font-size: 20px;
    padding: 20px;
}
.discord i{
  font-size: 80px;
  padding: 60px;
  cursor: pointer;
}
.social h6{
    font-size: 20px;
    color: #fff;
    padding: 20px 100px;
}
.social i{
    font-size: 26px;
    padding: 20px 10px;
    width: 50%;
    cursor: pointer;
}
.social ul{
    padding: 50px 10px;
}
.rodape{
    display: flex;
}
.empresa h6{
    font-size: 17px;
    color: #fff;
    padding: 20px 80px;
}
.empresa a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #ffffffcb;
    cursor: pointer;
}
.empresa a:hover{
    color: #77ffc0;
    transform: scale(1.05);
}
.recursos h6{
    font-size: 17px;
    color: #fff;
    padding: 20px 80px;
}
.recursos a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #ffffffcb;
    cursor: pointer; 
}
.recursos a:hover{
    color: #77ffc0;
    transform: scale(1.05);
}
.politica h6{
    font-size: 17px;
    color: #fff;
    padding: 20px 80px;
}
.politica a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #ffffffcb;
    cursor: pointer; 
}
.politica a:hover{
    color: #77ffc0;
    transform: scale(1.05);
}
.logo-dev h1{
    font-size: 250px;
    text-align: center;
}
.logo-dev span{
    color: #fff;
}
.logo-dev{
    border-bottom: 2px solid #77ffc0;
}


