*{
    margin: 0;
    padding: 20px 10px;
}
body{
    margin: 20px;
    background-color:#201b2c;
    color: #77ffc0;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-dev{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quiz-login{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rodape-dev{
    text-align: center;
}

.flex{
    display: flex;
    text-align: center;
    padding: 40px;
}

.dev img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.dev h1{
 font-size: 50px;
 background-color: #fff;
}

.btn-dev{
    padding: 25px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background-color: #77ffc0;
}

.btn-dev:hover{
    box-shadow: 0 0 8px #77ffc08c;
    transform: scale(1.05);
}

.dev a{
    padding: 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.dev a:hover{
    color: #ffffff62;
    transform: scale(1.05);
}

.login h1{
   font-size: 100px;
}

.login h3{
  font-size: 30px;
  padding: 20px;
}
.login p{
  font-size: 23px;
  padding: 20px;
  margin: 10px;
  text-align: initial;
}

.img-dev{
    width: 700px;
    height: 700px;
}

.quiz-login h2{
    font-size: 30px;
}

.quiz-login h3{
  font-size: 25px;
}

.quiz-login label{
    font-size: 20px;
}

.quiz-login input{
   padding: 15px 100px;
   border: none;
   border-radius: 10px;
   margin: 10px;
}

.quiz-login form{
    text-align: justify;
    margin: 20px;
    padding: 20px;
}
.quiz-login hr{
    border: none;
    border-top: 2px solid #77ffc0;
    padding: 20px;
}

@media screen and (max-width:1000px) {
    body{
    align-items: center;
    flex-direction: column;
    } 
    .dev button{
      display:none;
      margin: 20px;
    }
    .dev ul{
        display:none;
        padding: 10px;
    }

}


